rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /allNews/{newsId} {
      allow read: if true;
      // Only authenticated Firebase users can create/delete/edit news.
      allow create, delete: if request.auth != null;
      allow update: if request.auth != null || (
        request.auth == null &&
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['viewCount']) &&
        request.resource.data.viewCount == resource.data.viewCount + 1
      );
    }
  }
}
